@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b; /* Zinc 950 (Dark mode default) */
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}